.App {
  text-align: center;
  color: #3e444a;
}

.Container {
  display: flex;
  flex-direction: row;
}

#nav-title {
  display: flex;
  flex-direction: row;
  width: 80%;
}

#graph {
  position: absolute;
  top: 10%;
}

#legend-title {
  position: absolute;
  right: 1%;
  z-index: 1;
  top: 17%;
  color: white;
  font-weight: bold;
}

#l {
  margin-bottom: 50px;
}

#app {
  background-color: #343a40;
}

#img {
  margin: 2px;
}

#drop-down-window {
  font-size: 14px;
  color: grey;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  margin: 0px;
}

#info-icon {
  margin-right: 5px;
}

#bootstrap-table {
  color: white;
  font-size: 15px;
}

#table {
  position: absolute;
  top: 70px;
}

#table-heading {
  color: white;
}

h4 {
  color: white;
}

#b {
  margin-bottom: 100px;
}

#graph {
  width: 100%;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0px;
}

#legend {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  top: 40%;
  color: white;
  left: 0px;
  width: 5%;
}

#mapinfo {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  z-index: 1;
  bottom: 25px;

  left: 0px;
  fill: none;
}

#infoCases {
  color: #18a2b8;
  width: 15%;
  font-weight: bold;
}

#info {
  width: 15%;
  fill: none;
  font-weight: bold;
  /* top: 10%; */
}

#infoCountryName {
  color: #18a2b8;
  width: 15%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 2%;
  position: absolute;
}

#infoDeaths {
  color: rgb(220, 54, 69);
  width: 15%;
  font-weight: bold;
}

#infoRecoveries {
  color: rgb(40, 167, 69);
  width: 15%;
  font-weight: bold;
}

#infoUS {
  width: 15%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 5%;
  position: absolute;
}

#infoUSCases {
  color: #18a2b8;
  width: 30%;
  font-weight: bold;
}

#infoUSDeaths {
  width: 40%;
  color: rgb(220, 54, 69);
  font-weight: bold;
}
#info-boxes {
  display: flex;
  width: 80%;
  position: absolute;
  right: 0px;
}

#card {
  color: white;
}

#infoYellow {
  color: #fbbd08;
  width: 15%;
  font-weight: bold;
}

#infoOrange {
  color: #fb5945;
  width: 15%;
  font-weight: bold;
}

#infoUSYellow {
  color: #fbbd08;
  width: 40%;
  font-weight: bold;
}

#infoUSOrange {
  color: #fb5945;
  width: 40%;
  font-weight: bold;
}

#search {
  top: 20%;
  position: absolute;
  z-index: 1;
  position: relative;
  width: 100%;
  margin: 5px;
  justify-content: center;
}

#search-heading {
  color: white;
  margin: 10px;
}

#search-form input[type="text"] {
  width: 250px;
  box-sizing: border-box;
  border: 2px solid #646d79;
  border-radius: 4px;
  font-size: 16px;
  background-color: rgb(215, 213, 213);
  background-image: url("https://cdn3.iconfinder.com/data/icons/science-116/64/virus-lab-scientist-biology-cell-medical-512.png?v=2");
  background-size: 25px 25px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}

/* #search-form input[type=text]:focus {
  width: 100%;
 */
