.App {
  text-align: center;
  color: #3e444a;
  /* background-color: rgb(81, 82, 82); */
}

.Container {
  display: flex;
  flex-direction: row;
}

#nav-title {
  display: flex;
  flex-direction: row;
  width: 80%;
}

#graph {
  position: absolute;
  top: 10%;
}

/* #b {
  position: relative;
  top: 10%;
} */

#legend-title {
  position: absolute;
  right: 1%;
  z-index: 1;
  top: 25%;
  color: white;
  font-weight: bold;
}

#app {
  background-color: #343A40;
}

#img {
  margin: 2px;
}

#table {
  position: absolute;
  top: 70px;
}

#drop-down-window {
  font-size: 14px;
  color: grey;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  margin: 0px;
}

#info-icon {
  margin-right: 5px;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0px;
}

#bootstrap-table {
  color: white;
  font-size: 15px;
}

#table-heading {
color: white;
}

h4 {
  color: white;
}

#b {
  margin-bottom: 100px;
}

#line {
  position: absolute;
  top: 130%;
  width: 50%;
  height: 100%;
  z-index: 1;
  color: white;
  /* border: solid;
  border-color: white; */
}

#search{
  top: 20%;
  position: absolute;
  z-index: 1;
  position: relative;
  width: 100%;
  margin: 5px;
  justify-content: center;
}



/* #graph-container {
  bottom: 5px;
  position: absolute;
  height: 100%;
  background-color: grey
} */

#search-heading {
  color: white;
  margin: 10px;
}


#doughnut {
  position: absolute;
  right: 0%;
  top: 130%;
  width: 50%;
  z-index: 1;
  height: 100%;
  border: solid;
  border-color: white;
  color: white;
} 

#legend {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  top: 40%;
  color: white;
  left: 0px;
  width: 5%;
}

#mapinfo {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  z-index: 1;
  bottom: 10px;

  left: 0px;
  fill: none;
}

#info {
  width: 15%;
  fill: none;
  font-weight: bold;
}

#graph-countainer {
 top: 10%
}

#infoCases {
  color: #18A2B8;
  width: 15%;
  font-weight: bold;
}

#graph {
  width: 100%;
}

#infoDeaths {
  color: rgb(220,54,69);
  width: 15%;
  font-weight: bold;
}

#infoRecoveries {
  color: rgb(40,167,69);
  width: 15%;
  font-weight: bold;

}

#infoUS {
  width: 40%;

  font-weight: bold;

}

#infoUSCases {
  width: 40%;
  color: #18A2B8;
  font-weight: bold;
}

#infoUSDeaths {
  width: 40%;
  color: rgb(220,54,69);
  font-weight: bold;

}

#card {
  color: white;
}

#infoYellow {
  color: #FBBD08;
  width: 15%;
  font-weight: bold;

}

#infoOrange {
  color: #fb5945;
  width: 15%;
  font-weight: bold;
}

#infoUSYellow {
  color: #FBBD08;
  width: 40%;
  font-weight: bold;

}

#infoUSOrange {
  color: #fb5945;
  width: 40%;
  font-weight: bold;
}

#search-form input[type=text] {
  width: 250px;
  box-sizing: border-box;
  border: 2px solid #646D79;
  border-radius: 4px;
  font-size: 16px;
  background-color: rgb(215, 213, 213);
  background-image: url('https://cdn3.iconfinder.com/data/icons/science-116/64/virus-lab-scientist-biology-cell-medical-512.png?v=2');
  background-size: 25px 25px;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}

/* #search-form input[type=text]:focus {
  width: 100%;
} */