.App {
  text-align: center;
  color: #3e444a;
  /* background-color: rgb(81, 82, 82); */
}

.Container {
  display: flex;
  flex-direction: row;
}

#nav-title {
  display: flex;
  flex-direction: row;
  width: 80%;
}

#img {
  margin: 2px;
}

#table {
  position: absolute;
  top: 70px;
}

#drop-down-window {
  font-size: 14px;
  color: grey;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  margin: 0px;
}

#info-icon {
  margin-right: 5px;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0px;
}

#bootstrap-table {
  color: white;
  font-size: 15px;
}

#table-heading {
color: white;
}

#line {
  position: absolute;
  top: 50%;
  width: 50%;
  height: 50%;
  z-index: 1;
  color: white;
  /* border: solid;
  border-color: white; */
}

#search{
  z-index: 1;
  top: 10%;
  position: absolute;
  width: 100%
}


#doughnut {
  position: absolute;
  right: 0%;
  top: 30%;
  width: 50%;
  z-index: 1;
  height: 50%;
  /* border: solid;
  border-color: white; */
  color: white;
}

#legend {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  top: 40%;
  color: white;
  left: 0px;
  width: 5%;
}

#mapinfo {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  z-index: 1;
  bottom: 10px;

  left: 0px;
  fill: none;
}

#info {
  width: 15%;
  fill: none;
  font-weight: bold;
}

#infoCases {
  color: #18A2B8;
  width: 15%;
  font-weight: bold;
}

#graph {
  width: 100%;
}

#infoDeaths {
  color: rgb(220,54,69);
  width: 15%;
  font-weight: bold;
}

#infoRecoveries {
  color: rgb(40,167,69);
  width: 15%;
  font-weight: bold;

}

#infoUS {
  width: 40%;

  font-weight: bold;

}

#infoUSCases {
  width: 40%;
  color: #18A2B8;
  font-weight: bold;
}

#infoUSDeaths {
  width: 40%;
  color: rgb(220,54,69);
  font-weight: bold;

}

#card {
  color: white;
}

#infoYellow {
  color: #FBBD08;
  width: 15%;
  font-weight: bold;

}

#infoOrange {
  color: #fb5945;
  width: 15%;
  font-weight: bold;
}

#infoUSYellow {
  color: #FBBD08;
  width: 40%;
  font-weight: bold;

}

#infoUSOrange {
  color: #fb5945;
  width: 40%;
  font-weight: bold;
}
